.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start /sidebar-end;
    grid-row: 1 / -1;

    display: flex;
    justify-content: center;

    @media only screen and (max-width:$bp-large) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        align-items: center;
        justify-content: flex-end;
    }
}

.nav-btn {
    border: none;
    display: block;
    height: 4px;
    width: 4.5rem;
    background-color: $color-grey-light-1;
    margin-top: 6rem;
    cursor: pointer;

    @media only screen and (max-width:$bp-large) {
        margin-top: 0;
        margin-right: 3rem;
        height: 3px;
    }
}

.nav-btn::after {
    content: "";
    height: 4px;
    width: 4.5rem;
    transform: translateY(-1.5rem);
    background-color: inherit;
    display: block;


    @media only screen and (max-width:$bp-large) {
        height: 3px;
    }
}
.nav-btn::before {
    content: "";
    height: 4px;
    width: 4.5rem;
    transform: translateY(1.5rem);
    background-color: inherit;
    display: block;
    @media only screen and (max-width:$bp-large) {
        height: 3px;
        transform: translateY(1.2rem);
    }

}
